.features {
    display: flex;
    align-items: center;
    padding: 2em 0 4em 0;
    width: 100%;
}

.featureSvg {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid #eaeaea;
    padding: 30px;
    margin-bottom: 20px;
}

.featureP {
    font-size: 1.1rem;
}

