@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* TEMA: LIGHT (Deshabilitado) */
:root {
    --ifm-color-primary: #2e8555;
    --ifm-color-primary-dark: #29784c;
    --ifm-color-primary-darker: #277148;
    --ifm-color-primary-darkest: #205d3b;
    --ifm-color-primary-light: #33925d;
    --ifm-color-primary-lighter: #359962;
    --ifm-color-primary-lightest: #3cad6e;
    --ifm-code-font-size: 95%;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
    --ifm-font-family-monospace: 'Jetbrains Mono', SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    --ifm-code-font-size: 0.85rem;
}

/* TEMA: DARK */
[data-theme="dark"] {
    --ifm-color-primary: #25c2a0;
    --ifm-color-primary-dark: #21af90;
    --ifm-color-primary-darker: #1fa588;
    --ifm-color-primary-darkest: #1a8870;
    --ifm-color-primary-light: #29d5b0;
    --ifm-color-primary-lighter: #32d8b4;
    --ifm-color-primary-lightest: #4fddbf;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
    
}

/* ==> INDEX <== */
.hero {
    color: white;
    margin-bottom: 3em;

    background-color: #1b1b1d;
    background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.2)), url(/static/img/index/background.jpg);
    background-size: cover;
    background-position: center 40%;
    /* background-attachment: fixed; */

    position: relative;
    mask-image: linear-gradient(to bottom, black 70%, rgba(0, 0, 0, 0.85) 80%, rgba(0, 0, 0, 0.5) 90%, rgba(0, 0, 0, 0.2) 95%, transparent 100%);
}

.footer {
    background-color: #1b1b1d;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.245);
}

.button {
    background: none;
    border: 2px solid #ffffff;
    color: white;
    /* width: 200px; */
    transition: all 0.5s ease;
}

.button:hover {
    background: #ffffff;
    color: black;
}

/* ==> PAGINAS INTERNAS <== */
@import "pages.css";
