.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

.img-10 {
    width: 10%;
}
.img-20 {
    width: 25%;
}
.img-30 {
    width: 30%;
}
.img-40 {
    width: 40%;
}
.img-50 {
    width: 50%;
}
.img-60 {
    width: 60%;
}
.img-70 {
    width: 75%;
}
.img-80 {
    width: 80%;
}